body {
    font-family: "PT Serif", serif;
}

form {
    margin-top: 10px;
}

.table {
    display: table;
    margin-bottom: 0;
    border-spacing: 5px;
}

.table-name {
    display: table;
    margin-bottom: 0;
    width: 100%;
}

.table-cell {
    display: table-cell;
}

.table-left {
    display: table-cell;
    padding-right: 5px;
}

.table-right{
    display: table-cell;
    padding-left: 5px;
}

.buttonHolder{
    padding-bottom: 15px;
}

.form-control {
    width: 100%;
    display: inline-block;
    background: #f1f1f1;
}

hr {
    border: 1px solid #f1f1f1;
}

.signup {
    text-align: center;
}

.alert {
    position: fixed;
    top: 10px;
    right: 120px;
    background: #f1f1f1;
}

.alert strong {
    padding: 10px;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #f1f1f1;
 }

td, th {
    text-align: center;
    vertical-align: middle;
}

.modal-header {
    background: #f1f1f1;
 
}

.modal-title {
    text-align: left;
}

.modal-body {
    text-align: left;
}

#mybookingsbtn {
    margin-top: 19px !important;
}