<!DOCTYPE html>
<html lang="en">

<head>
    <title>Sign Up</title>

    <!-- Style sheet (CSS) and JavaScript scripts necessary to use Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- Your own additional style sheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                <strong class="mr-auto">{{ message }}</strong>
                <button type="button" class="m1-2 mb-1 close" data-dismiss="alert">&times;</button>
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="container">
        <h2>Room Search</h2>
        <hr>

        <form action="{{ url_for('customerRoomSearch') }}" method="POST">
            <div class="table">
                <div class="table-cell">
                    <div class="form-group">
                        <label class="form-label" for="start_date">Start Date</label>
                        <input class="form-control" type="date" id="start_date" name="start_date">
                    </div>
                </div>
                <div class="table-cell">
                    <div class="form-group">
                        <label class="form-label" for="end_date">End Date</label>
                        <input class="form-control" type="date" id="end_date" name="end_date">
                    </div>
                </div>
                <script>
                    var today = new Date().toLocaleDateString('en-ca');
                    var start_date = document.getElementById("start_date");
                    var end_date = document.getElementById("end_date");
                    
                    // set min to today
                    start_date.setAttribute("min", today)
                    end_date.setAttribute("min", today)

                    // on input set max to end_date-1
                    end_date.addEventListener("input", function () {
                        var date = new Date(end_date.value);
                        date.setDate(date.getDate() - 1);
                        console.log(date.toISOString().slice(0, 10))
                        start_date.setAttribute("max", date.toISOString().slice(0, 10))
                    })
                    // on input set min to start_date+1 
                    start_date.addEventListener("input", function () {
                        var date = new Date(start_date.value);
                        date.setDate(date.getDate() + 1);
                        console.log(date.toISOString().slice(0, 10))
                        end_date.setAttribute("min", date.toISOString().slice(0, 10))
                    })
                </script>
                <div class="table-cell">
                    <div class="form-group">
                        <label class="form-label" for="category">Category</label>
                        <select class="form-control" id="category" name="category">
                            <option value="-">-</option>
                            <option value="1-star">1-star</option>
                            <option value="2-star">2-star</option>
                            <option value="3-star">3-star</option>
                            <option value="4-star">4-star</option>
                            <option value="5-star">5-star</option>
                        </select>
                    </div>
                </div>
                <div class="table-cell">
                    <div class="form-group">
                        <label class="form-label" for="min_price">Min Price</label>
                        <input class="form-control" type="number" id="min_price" name="min_price" min="0" max="" onclick="this.select();">
                    </div>
                </div>
                <div class="table-cell">
                    <div class="form-group">
                        <label class="form-label" for="max_price">Max Price</label>
                        <input class="form-control" type="number" id="max_price" name="max_price" min="0" max="500" oninput="updatePriceBound()" onclick="this.select();">
                    </div>
                </div>
                <script>
                    function updatePriceBound() {
                        var maxPrice = document.getElementById("max_price").value;
                        document.getElementById("min_price").setAttribute("max", maxPrice);
                        var minPrice = document.getElementById("min_price").value;
                        if (minPrice > maxPrice) {
                            document.getElementById("min_price").value = maxPrice;
                        }
                    }
                </script>
            </div>
            
            <div class="table">
                <div class="table-cell">
                    <div class="form-group">
                        <label class="form-label" for="hotel_chain">Hotel Chain</b></label>
                        <select class="form-control" id="hotel_chain" name="hotel_chain">
                            <option value="-">-</option>
                            <option value="Hilton">Hilton</option>
                            <option value="Hyatt">Hyatt</option>
                            <option value="Marriott">Marriott</option>
                            <option value="IHG">IHG</option>
                            <option value="Wyndham">Wyndham</option>
                        </select>
                    </div>
                </div>
                <div class="table-cell">
                    <div class="form-group">
                        <label class="form-label" for="city">City</label>
                        <select class="form-control" id="city" name="city">
                            {% if list_of_cities %}
                                <option value="-">-</option>
                                {% for key in list_of_cities %}
                                    <option value="{{key['city']}}">{{key['city']}}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                </div>
                <div class="table-cell">
                    <div class="form-group">
                        <label class="form-label" for="room_capacity">Room Capacity</label>
                        <select class="form-control" id="room_capacity" name="room_capacity">
                            <option value="-">-</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                </div>
                <div class="table-cell">
                    <div class="form-group">
                        <label class="form-label" for="total_no_rooms">Number of Rooms</label>
                        <select class="form-control" id="total_no_rooms" name="total_no_rooms">
                            <option value="-">-</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="buttonHolder">
                <button type="submit" class="btn btn-primary btn-block">Search</button>
            </div>
            <hr>
        </form>
    </div>
</body>


</html>