<!DOCTYPE html>
<html lang="en">

<head>
    <title>Sign In</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <form action="{{ url_for('customerSignIn') }}" method="POST">
        <div class="container">
            <div class="msg">{{ msg }}</div>

            <label for="username"><b>Username</b></label>
            <input class="textbox" type="text" placeholder="Enter username" id="username" name="username" required>

            <label for="psw"><b>Password</b></label>
            <input class="textbox" type="password" placeholder="Enter password" id="password" name="password" required>
            
            <div class="buttonHolder">
                <button type="submit">Sign In</button>
            </div>
        </div>
    </form>
</body>


</html>