<!DOCTYPE html>
<html lang="en">

<head>
    <title>Sign Up</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Style sheet (CSS) and JavaScript scripts necessary to use Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- Your own additional style sheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        <h2>Sign Up</h2>
        <hr>

        <form action="{{ url_for('customerSignUp') }}" method="POST">
            <div class="form-group">
                <label  for="username">Username</label>
                <input class="form-control" type="text" placeholder="Username" id="username" name="username" maxlength="30" required>
            </div>
            <div class="form-group">
                <label class="form-label" for="password">Password</label>
                <input class="form-control" type="password" placeholder="Password" id="password" name="password" maxlength="30" required>
            </div>
            <div class="form-group">
                <label class="form-label" for="sxn">SXN</label>
                <input class="form-control" type="text" placeholder="xxxxxxxxx" id="sxn" name="sxn" pattern="[0-9]{9}" maxlength="9" required>
            </div>
            <div class="table-name">
                <div class="table-left">
                    <div class="form-group">
                        <label class="form-label" for="fname">First Name</label>
                        <input class="form-control" type="text" placeholder="First name" id="fname" name="fname" maxlength="30" required>
                    </div>
                </div>
                <div class="table-right">
                    <div class="form-group">
                        <label class="form-label" for="lname">Last Name</label>
                        <input class="form-control" type="text" placeholder="Last name" id="lname" name="lname" maxlength="30" required>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="form-label" for="address">Address</label>
                <input class="form-control" type="text" placeholder="example@domain.com" id="address" name="address" pattern="\S+@\S+" maxlength="30" required>
            </div>
            <div class="buttonHolder">
                <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
            </div>
            <div class="container msg">{{ msg }}</div>
        </form>
    </div>
</body>


</html>