<!DOCTYPE html>
<html lang="en">

<head>
    <title>Sign In</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <form action="{{ url_for('employeeSignIn') }}" method="POST">
        <div class="container">
            <div class="msg">{{ msg }}</div>

            <label for="employee_id"><b>Employee ID</b></label>
            <input class="textbox" type="text" placeholder="Enter employee id" id="employee_id" name="employee_id" required>

            <label for="fname"><b>First Name</b></label>
            <input class="textbox" type="textbox" placeholder="Enter first name" id="fname" name="fname" required>
            
            <div class="buttonHolder">
                <button type="submit">Sign In</button>
            </div>
        </div>
    </form>
</body>


</html>